@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

.button-green {
    @apply bg-green text-white py-2 px-6 rounded-md text-[16px] font-medium ease-in duration-300;
    &:hover {
        @apply bg-green-hover;
    }
}
.button-navigation{
    @apply cursor-pointer bg-green h-12 w-12 rounded-full flex justify-center items-center ease-in duration-300 ;
   
    &:hover {
        @apply bg-darkblue;
    }
    svg{
         polyline{
             stroke: white;
             stroke-width: 3;
         }

     }
}
.button-property-listing{
    @apply border border-green flex justify-center items-center px-2 py-2 mr-5 rounded-lg text-sm  ease-in-out duration-300 ;

    &.active{
        @apply ring-4 ring-green-300 bg-green text-white;
    }
    &:hover{
        @apply bg-green text-white;
    }
}

.myAnimated{
    animation: fadeInUp; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    animation-delay: 6s;
     
}